body {
  margin: 0;
  background: linear-gradient(to top, #30cfd0 0, #330867 100%);
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%;
}

*:active,
:focus,
:hover {
  outline: none;
  outline-offset: none;
}
